* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h2 {
  font-size: 30px;
}