#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
nav h1 {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-left: 100px;
}
.pagina-title {
  text-decoration: none;
  color: var(--color-primary);
}
nav .cuadro {
  display: none;
}
.list-desk {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  width: 50%;
  list-style: none;
  text-transform: uppercase;
}
.li-desk {
  margin: 0px 40px;
  font-size: 2.4rem;
  color: var(--color-primary);
  text-decoration: none;
}
.small-navbar {
  height: 70px;
}
.large-navbar {
  height: 90px;
}
.imagen-perfil {
  width: 280px;
  height: 280px;
  margin-top: 160px;
}
.title-container h3 {
  font-size: 2.8rem;
}
.carrousel img {
  width: 360px;
  height: 360px;
}
.social-media__title {
  font-size: 2.8rem;
}
.social-media__list {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  list-style: none;
  width: 100%;
}
a .social-media__img {
  margin: 0 64px;
  background-color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
  transition: .4s ease-in-out all;
}
a .social-media__img:hover {
  background-color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 8px solid white;
  border-radius: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
  transition: .4s ease-in-out all;
}
a .youtube-img:hover {
  background-color: #c4302b;
}
a .instagram-img:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
a .facebook-img:hover {
  background-color: #3b5998;
}