@import url("./header-style.css");

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
nav h1 {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-left: 100px;
}
.pagina-title {
  text-decoration: none;
  color: var(--color-primary);
}
nav .cuadro {
  display: none;
}
.list-desk {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  width: 50%;
  list-style: none;
  text-transform: uppercase;
}
.li-desk {
  margin: 0px 40px;
  font-size: 2.4rem;
  color: var(--color-primary);
  text-decoration: none;
}
.small-navbar {
  height: 70px;
}
.large-navbar {
  height: 90px;
}
.imagen-perfil {
  width: 280px;
  height: 280px;
  margin-top: 160px;
}
.title-container h3 {
  font-size: 2.8rem;
}
.carrousel img {
  width: 60vw;
  height: 70vh;
}
.social-media__title {
  font-size: 2.8rem;
}
.social-media__list {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}
a .social-media__img {
  margin: 0 64px;
  background-color: var(--color-primary);
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
  transition: 0.3s ease-in-out all;
}
a .social-media__img:hover {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 8px solid var(--color-primary);
  border-radius: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
  transition: 0.3s ease-in-out all;
}
a .youtube-img:hover {
  background-color: #c4302b;
}
a .instagram-img:hover {
  background: var(--color-instagram)
}
a .facebook-img:hover {
  background-color: #3b5998;
}
