@import url("./header-style.css");

footer {
  padding: 40px 20px;
  padding-bottom: 8px;
  width: 100%;
  min-width: 320px;
  min-height: 50vh;
  background-color: var(--color-primary);
}
.social-media__title {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-secondary);
}
.social-media__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 140px;
}
.social-media__list {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
}
a .social-media__img {
  background-color: white;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
}
a .youtube-img {
  background-color: #c4302b;
}
@media (max-width: 1023px) {
  a .instagram-img {
    background: var(--color-instagram);
  }
}
a .facebook-img {
  background-color: #3b5998;
}
.copyright {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  color: var(--color-secondary);
}
