/* 
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
  /* Colores */
  --color-primary: white;
  --color-secundary: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: var(--color-primary);
}
header {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-color: var(--color-primary);
}
#navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 320px;
  right: 0;
  left: 0;
  border-bottom: 1.2px solid white;
  background-color: var(--color-secundary);
  transition: .4s ease-in-out all;
  z-index: 100;
}
.large-navbar {
  height: 70px;
}
.small-navbar {
  height: 70px;
}
nav h1 {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
}
nav .cuadro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 48px;
  height: 40px;
  border-radius: 20%;
  background-color: var(--color-primary);
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.3);
  z-index: 1;
}
#despliega {
  position: fixed;
}
.mostrar-small {
  width: 100%;
  min-width: 320px;
  height: 70px;
  background-color: var(--color-secundary);
  transition: .4s ease-in-out all;
  z-index: 99;
}
.mostrar-large {
  /* display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center; */
  width: 100%;
  min-width: 320px;
  height: 250px;
  /* right: 0;
  left: 0; */
  background-color: var(--color-secundary);
  transition: .4s ease-in-out all;
  z-index: 99;
}
.despliega-off {
  height: 70px;
}
#despliega-on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
}
.opciones li {
  opacity: 0;
}
.opciones .view-on {
  opacity: 1;
  padding: 10px 15px;
  list-style: none;
  text-transform: uppercase;
  font-size: 2.0rem;
  color: var(--color-primary);
  transition: .4s ease-in-out all;
}
.icon-bar {
  width: 26px;
  height: 3px;
  background-color: var(--color-secundary);
}
.header__superior {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.imagen-perfil {
  width: 250px;
  height: 250px;
  margin-top: 160px;
  border-radius: 100%;
  align-self: center;
  z-index: 4;
}
.header__inferior {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;

}
.header__inferior h2 {
  position: absolute;
  min-width: 288px;
  max-width: 900px ;
  text-align: center;
  align-self: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  z-index: 3;
}
.rectangulo {
  position: absolute;
  min-width: 288px;
  max-width: 900px ;
  height: 100px;
  background-color: black;
  z-index: 1;
}
.circle {
  min-width: 268px;
  max-width: 900px ;
  height: 200px;
  border-radius: 400px;
  background-color: white;
  z-index: 2;
}
/* @media (max-width : 900px) {
  h1 {
    font-size: 2.8rem;
  }
  .header__inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h2 {
    font-size: 1.8rem;
  }
  .rectangulo {
    position: absolute;
    width: 220px;
    height: 75px;
  }
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .large-navbar {
    height: 80px;
    transition: .4s ease-in-out all;
  }
  .small-navbar {
    height: 60px;
    transition: .4s ease-in-out all;
  }
} */