@import url("./header-style.css");

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-secundary);
  z-index: 10;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  font-size: 2.0rem;
}
.title-container h3 {
  margin-top: auto;
  color: var(--color-primary);
  text-transform: uppercase;
}
.carrousel {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.carrousel .grande{
  width: 400%;
  background-color: var(--color-secundary);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.carrousel img {
  width: calc( 100% / 4 );
  background-color: var(--color-secundary);
  width: 300px;
  height: 300px;
  border: 2px solid var(--color-primary);
}
.carrousel .puntos {
  list-style: none;
  width: 100%;
  background-color: var(--color-secundary);
  padding-bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carrousel .punto {
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  margin: 0 12px;
  border-radius: 100%;
  box-shadow: 3px 4px 5px 0px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.carrousel .punto.activo {
  width: 24px;
  height: 24px;
  background-color: var(--color-secundary);
  border: 2px solid var(--color-primary);
  cursor: default;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.0);

}
